<manifest package="org.eehouse.android.nbsplib"
          xmlns:android="http://schemas.android.com/apk/res/android"
          >
  <application>

    <!-- The NBSProxy app uses this receiver to transmit received
         messages to you. It knows you're there because you've called
         NBSProxy.register() at some point. -->
    <receiver android:name="org.eehouse.android.nbsplib.NBSProxy">
      <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="text/nbsdata_rx" />
      </intent-filter>
    </receiver>

  </application>
</manifest>
